// CSS variables
:root {
    // Colors
    --color-blue-100: hsl(209, 33%, 12%);
    --color-blue-60: hsl(223, 87%, 63%);
    --color-blue-25: hsl(223, 100%, 88%);
    --color-gray-70: hsl(0, 0%, 59%);
    --color-red-40: hsl(354, 100%, 66%);

    // Fonts
    --font-primary: var(--font-libre-franklin);
    --font--libre-franklin: 'Libre Franklin', sans-serif;

    // Box Shadow
    --box-shadow-default: var(--box-shadow-v2);
    --box-shadow-v1: 0 10rem 6rem -6rem rgba(0, 0, 0, 0.3);
    --box-shadow-v2: 0 2rem 4rem rgba(0, 0, 0, 0.3);

    // Details
    --width-max: 1200rem;
}
